# Visual Studio 2015/2017/2019/2022
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
*.log
*.ide
*.pdb
*.opendb
*.tlog
*.bak
*.cache
*.ncb
*.aps
*.bsc
*.sbr
*.pch
*.idb
*.res
*.exp
*.lib
*.ilk
*.obj
*.map
*.rsp
*.scc
*.vspscc
*.vssscc
*.builds
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite-journal
