# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/

# Rider
.idea/
*.sln.iml

# User-specific
*.dbmdl
*.jfm
*.pfx
*.publish.xml

# Others
*.log
*.tlog
*.bak
*.cache
*.ncb
*.aps
*.bsc
*.sbr
*.pdb
*.opendb
*.res
*.ilk
*.sdf
*.VC.db
*.VC.VC.opendb

# Report files
*.md
!README.md
*.pdf
*.pptx
*.docx

# Ignored Folders
AMD201_Merterial/
Merterial/
report/
nul

# Claude settings
.claude/
